# Auto detect text files and normalize to LF in the repo
* text=auto

# LF
*.py text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
VERSION text eol=lf

# Windows
*.ps1 text eol=crlf
*.bat text eol=crlf
